# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: CoopCycle docs
email: contact@coopcycle.org
description:
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://docs.coopcycle.org" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: coopcycle
github_username:  coopcycle

# Set a path/url to a logo that will be displayed instead of the title
logo: "/assets/images/logo.png"

# Footer content appears at the bottom of every page's main content
footer_content: "Copyright &copy; 2017-2019 Patrick Marsceill. Distributed by an <a href=\"https://github.com/pmarsceill/just-the-docs/tree/master/LICENSE.txt\">MIT license.</a>"

# Build settings
markdown: kramdown
theme: "just-the-docs"
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

# Color scheme currently only supports "dark" or nil (default)
color_scheme: nil

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
