<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ block "description" . }}{{ $.Site.Params.description }}{{ end }}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
    {{ block "styles" . }}
    {{ end }}
  </head>
  <body>

    <header>
      <div class="container">
      CoopCycle › Help
      </div>
    </header>

    <nav class="navigation">
      <section class="container">
        <a class="navigation-title" href="{{ "/" | absLangURL }}">
          CoopCycle
        </a>
        {{ if .IsTranslated }}
          <ul class="navigation-list float-right">
            {{ range .Translations }}
            <li class="navigation-item">
              <a class="navigation-link" href="{{ .Permalink }}">{{ index $.Site.Data.languages .Lang }}</a>
            </li>
            {{ end }}
          </ul>
        {{ end }}
      </section>
    </nav>

    <div class="container">
      <div class="row">
        <div class="column column-20">
          {{- $currentURL := .URL | absLangURL -}}
          {{ range .Site.Menus.main }}
            {{ $menuURL := .URL | absLangURL }}
            <!-- <li class="nav-item {{ if eq $menuURL $currentURL }}active{{ end }}"> -->
            <a href="{{ .URL | absURL }}">
              <h4>{{ .Pre }}{{ .Name }}{{ .Post }}</h4>
            </a>
            {{ if .HasChildren }}
              <ul>
              {{ range .Children }}
                <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
              {{ end }}
              </ul>
            {{ end }}
          {{ end }}
        </div>
        <div class="column column-80">
          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}
        </div>
      </div>
    </div>

    <footer class="blog-footer text-center">

    </footer>

    {{ block "scripts" . }}
    {{ end }}

  </body>
</html>
