<footer class="blog-footer text-center">

  <ul class="nav" itemscope itemtype="http://schema.org/Organization">
    <link itemprop="url" href="https://coopcycle.org">
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/coopcycle" target="_blank"><i class="fa fa-github"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://twitter.com/coopcycle" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.facebook.com/coopcycle" target="_blank"><i class="fa fa-facebook"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://blogs.mediapart.fr/coopcycle" id="footer-mediapart" target="_blank"></a>
    </li>
  </ul>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="mailto:contact@coopcycle.org">contact@coopcycle.org</a>
    </li>
  </ul>

</footer>
