<footer class="blog-footer">

  <ul class="blog-footer__nav nav-footer" itemscope itemtype="http://schema.org/Organization">
    <link itemprop="url" href="https://coopcycle.org">
    <li class="nav-footer__item">
      <a class="nav-footer__link" href="https://github.com/coopcycle" target="_blank"><i class="fa fa-github"></i></a>
    </li>
    <li class="nav-footer__item">
      <a class="nav-footer__link" href="https://twitter.com/coopcycle" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
    <li class="nav-footer__item">
      <a class="nav-footer__link" href="https://www.facebook.com/coopcycle" target="_blank"><i class="fa fa-facebook"></i></a>
    </li>
    <li class="nav-footer__item">
      <a class="nav-footer__link nav-footer__link--mediapart" href="https://blogs.mediapart.fr/coopcycle" id="footer-mediapart" target="_blank"></a>
    </li>
  </ul>

  <a
    class="blog-footer__contact"
    title="{{ site.data.common[page.lang].footer.contact }}"
    href="mailto:contact@coopcycle.org">contact@coopcycle.org</a>

</footer>
