<header class="site-header" role="banner">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
        <img src="/assets/images/logo.png" width="40" height="40" alt="Logo">
        <span class="brand-name">{{ site.title | escape }}</span>
    </a>
    <nav class="site-nav">
      {%- for lang in site.data.langs -%}
        {% assign translated_page=site.pages | where:"ref", page.ref | where:"lang", lang | first %}
        {%- if translated_page -%}
          <a class="page-link {% if lang == page.lang %}active{% endif %}" href="{{ translated_page.url }}">{{ lang }}</a>
        {% else %}
          <!-- not translated yet -->
          <a class="page-link unavailable" href="#">{{ lang }}</a>
        {%- endif -%}
      {%- endfor -%}
    </nav>
  </div>
</header>
