<nav>
  <ul class="main-nav">
    {% for item in site.data.sidebar.[page.lang][page.role] %}
    <li>
      {% if item.url %}
        <a href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
      {% else %}
        <span>{{ item.title | escape }}</span>
      {% endif %}
      {% if item.folders %}
        <ul>
          {% for folder in item.folders %}
            {% if folder.items %}
              <li>{{ folder.title | escape }}</li>
              <ul>
                {% for subitem in folder.items %}
                  <li><a href="{{ subitem.url | relative_url }}">{{ subitem.title | escape }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <li><a href="{{ folder.url | relative_url }}">{{ folder.title | escape }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
