{%- assign nav_pages = site.pages | where:"lang", page.lang | where:"nav", true -%}
{%- assign subnav_pages = site.pages | where:"lang", page.lang | where:"subnav", true | sort: "nav_order" -%}
{%- assign lang_dir = '/' | append: page.lang | append: '/' -%}

{%- if nav_pages -%}
  <nav>
    <ul class="main-nav">
    {%- for nav_page in nav_pages -%}
      <li>
        <a href="{{ nav_page.url | relative_url }}">{{ nav_page.title | escape }}</a>
        {%- if subnav_pages -%}
          <ul>
          {%- for subnav_page in subnav_pages -%}
            {%- if nav_page.dir != lang_dir and subnav_page.dir contains nav_page.dir -%}
            <li>
              <a href="{{ subnav_page.url | relative_url }}">{{ subnav_page.title | escape }}</a>
              {%- assign leaf_pages = site.pages | where:"dir", subnav_page.dir | where_exp:"item", "item.name != 'index.md'" | sort: "nav_order" -%}
              {%- if leaf_pages -%}
              <ul>
                {%- for leaf_page in leaf_pages -%}
                  <li><a href="{{ leaf_page.url | relative_url }}">{{ leaf_page.title | escape }}</a></li>
                {%- endfor -%}
              </ul>
              {%- endif -%}
              {%- endif -%}
            </li>
          {%- endfor -%}
          </ul>
        {%- endif -%}
      </li>
    {%- endfor -%}
    </ul>
  </nav>
{%- endif -%}
