<footer role="contentinfo" class="site-footer">
  <ul class="sidebar-footer-nav" itemscope itemtype="http://schema.org/Organization">
    <link itemprop="url" href="https://coopcycle.org">
    <li class="sidebar-footer-nav__item">
      <a class="sidebar-footer-nav__link" href="https://github.com/coopcycle" target="_blank"><i class="fa fa-github"></i></a>
    </li>
    <li class="sidebar-footer-nav__item">
      <a class="sidebar-footer-nav__link" href="https://twitter.com/coopcycle" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
    <li class="sidebar-footer-nav__item">
      <a class="sidebar-footer-nav__link" href="https://www.facebook.com/coopcycle" target="_blank"><i class="fa fa-facebook"></i></a>
    </li>
    <li class="sidebar-footer-nav__item">
      <a class="sidebar-footer-nav__link sidebar-footer-nav__link--mediapart" href="https://blogs.mediapart.fr/coopcycle" id="footer-mediapart" target="_blank"></a>
    </li>
  </ul>
  <a
    class="fs-2"
    title="{{ site.data.common[page.lang].footer.contact }}"
    href="mailto:contact@coopcycle.org">contact@coopcycle.org</a>
</footer>
