// override some bootstrap colors
$blue: #337ab7;
$red: #ff0033;
$dark-red: darken($red, 20%);
$light-red: lighten($red, 33.3333%);
$dark: #06070f;
$yellow: #eeb516;
$green: #558900;
$link-color: #0366d6;

$orange: #d35400;
$light-orange: lighten($orange, 33.3333%);

$light-grey: #f5f5f5;
$grey: #ddd;
$white: #fff;

$base-length: 20px;
$base-length-xs: $base-length / 4;
$base-length-s: $base-length / 2;
$base-length-l: $base-length * 2;
$base-length-xl: $base-length * 4;


// General styles

html {
  box-sizing: border-box;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
}

h1 {
  font-size: 36px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}


// Layout styles
$footer-height: 100px;
$sidebar-width: 20vw;

// Main container
.main {
  background-color: $white;
  display: flex;
  padding: $base-length $base-length $footer-height;
  width: 100%;
}

// Page container
.page-content {
  flex: 1;
  padding: $base-length;

  &__header {
    margin-bottom: 20px;
    text-align: right;
  }
}

// Sidebar
.sidebar {
  border-right: 1px solid $grey;
  flex: 0 0 $sidebar-width;
  padding: $base-length-s;

  .main-nav {
    list-style-type: none;
    margin-left: 0;

    ul {
      list-style-type: none;
      margin-bottom: 0!important;
    }
  }
}

// Header
.site-header {
  display: flex;
  justify-content: space-between;
  font-family: $headings-font-family;
  font-size: 20px;
  font-weight: 300;

  padding: $base-length-xs $base-length;
  background-color: $white;
  border-bottom: 1px solid $dark;
  border-top: none;

  .site-title:hover {
    text-decoration: none;
  }

  .brand-name {
    line-height: 40px;
    margin-left: 5px;
    font-size: 20px;
  }

  .page-link:hover {
    text-decoration: none;
  }

  .page-link {
    font-size: 16px;
    position: relative;
    padding: $base-length-s;
  }

  .page-link::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      background-color: $red;
      display: block;
      height: 4px;

      transform: scale(0, 1);
      transition: all 400ms cubic-bezier(.45,1,.32,1);
    }

  .page-link:hover, .page-link.active {
    &::after {
      transform: scale(1, 1);
    }
  }

  .page-link.unavailable {
    color: $grey;
    cursor: default;
    pointer-events: none;
    &::after {
        transform: scale(0, 1);
    }
  }

  .page-link:not(:last-child) {
    margin-right: $base-length-s;
  }
}

//Footer
.blog-footer {
  background-color: $red;
  bottom: 0;
  height: $footer-height;
  left: 0;
  padding: 10px 0 20px;
  position: absolute;
  right: 0;
  text-align: center;

  &__contact {
    color: $white;
  }
}

.nav-footer {
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
    padding: $base-length-s $base-length;
  }

  &__link {
    color: $white;
    display: inline-block;

    &:visited {
      color: $white;
    }

    &--mediapart {
      background-image: url('/assets/images/mediapart.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom center;
      height: 20px;
      width: 32px;
    }

    .fa {
      font-size: 22px;
    }
  }
}
