.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 18rem;
  text-align: left;
  padding: 2rem 1rem;
  background-color: #fff;
  border-right: 1px solid #e8e8e8;

  .main-nav {
    list-style-type: none;
    margin-left: 0;
    ul {
      list-style-type: none;
    }
  }

}

.wrapper {
  margin-left: 22rem;
  margin-right: 4rem;
}