//
// Custom overrides from a user.
//

@import "./font-awesome";

// Footer
.sidebar-footer-nav {
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;

    &:not(last-child) {
      margin-right: $sp-2;
    }

    &::before {
      content: none !important; // to override default styles
    }
  }

  &__link {
    color: $blue-200;
    display: inline-block;

    &:visited {
      color: $blue-200;
    }

    &--mediapart {
      background-image: url('/assets/images/mediapart.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom center;
      height: 20px;
      width: 32px;
    }

    .fa {
      font-size: 22px;
    }
  }
}
