a.btn {
  border: 1px solid $grey-color;
  border-radius: 3px;
  color: $grey-color;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family-base;
  font-size: $base-length-s;
  line-height: 1;
  margin: 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  transition: color .2s ease-in-out,
              background-color .2s ease-in-out,
              border-color .2s ease-in-out;

  &:hover {
    background-color: $grey-color-light;
    border: 1px solid $grey-color-light;
    color: $grey-color-dark;
  }
}
