<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="main">
      <aside class="sidebar">
        {%- include sidebar.html -%}
      </aside>
      <section class="page-content">
        <header class="page-content__header">
          <a
            class="btn"
            href="{{ site.github.repository_url }}/edit/master/{{ page.path }}">{{ site.data.common[page.lang].button.edit }}</a>
        </header>

        {{ content }}
      </section>
    </main>

    {%- include footer.html -%}
    {%- include scripts.html -%}
  </body>

</html>
